<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Publishers</h1>
      <p class="lead text-body-secondary">Discover the creative powerhouses behind your favorite comics. From legendary publishing giants to rising indie publishers, learn more about the companies that bring these worlds and characters to life.</p>
    </div>
  </div>
</section>
