<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Orders</h1>
      <p class="lead text-body-secondary">Explore famous comic teams and alliances that have fought for justice—or chaos—throughout the ages. Uncover the bonds and conflicts that define these groups and discover the dynamic characters within them.</p>
    </div>
  </div>
</section>