<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Categories</h1>
      <p class="lead text-body-secondary">Explore our diverse range of sneaker categories, curated to help you find the perfect fit for every style and occasion. From classic designs to cutting-edge trends, browse through categories tailored to your unique preferences and step into your next favorite pair of sneakers.</p>
    </div>
  </div>
</section>

<div class="container mt-4">
  <h1>Categories</h1>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <% @categories.each do |category| %>
      <div class="col">
        <div class="card shadow-sm">
          <div class="card-body">
            <h5 class="card-title"><%= link_to category.name, category_path(category) %></h5>
            <p class="card-text">Products: <%= category.products.count %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>